body {
    font-family: 'Smythe', cursive;
}

h3, p {
    position: relative;
    color: #fff;
}

h3 {
    line-height: 24px;
}

p {
    line-height: 14px;
}

.header-img {
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url(images/book-banner.jpg);
    background-size: contain;
    padding: 20px;
}